# Hugging Face (embeddings). Get token: https://huggingface.co/settings/tokens
# HUGGINGFACE_TOKEN='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'
HUGGINGFACE_TOKEN = ''

# OpenAI (Chat answer only). Get key: https://platform.openai.com/api-keys
OPENAI_API_KEY=
